  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald" rel="stylesheet">
  
  <div class="indexx">
<h1 class="headtext">NOTE NO. <%= params[:id] %></h1>



<p class="accnote1"><%= @notes.notes %></p>
<p class="accnote1">this is under <b>unit #<%= @notes.unit %></b>
</div>

<div class="make">
<a href="/notes/edit/<%= @notes.id %>" >Edit</a>
<br>
<a href="/notes/destroy/<%= @notes.id %>" >Delete</a> <br>
<a href="/" >BACK TO LIST</a></div>
