<h1>show</h1>

<h3><%= params[:id] %></h3>
<h2><%= @notes.notes %></h2>
<h2><%= @notes.unit %></h2>
<h2><%= @notes.date %></h2>

<a href="/notes/edit/<%= @notes.id %>" >Edit</a>
<a href="/notes/destroy/<%= @notes.id %>" >Delete</a>
<a href="/" >BACK TO LIST</a>
